%section.content-header
%section.content
  .container-fluid
    .row
      .col-12
        .card
          .card-header
            %h3.card-title Agents
            .card-tools
              = link_to new_agent_path, remote: true, class: 'btn btn-sm btn-secondary' do
                Nouvel agent
          .card-body
            %table.table.table-bordered.table-hover.text-center
              %thead
                %tr
                  %th #
                  %th Nom
                  %th Matricule
                  %th Date de naissance
                  %th Equipe
                  %th Grade
                  %th Repos compensatoires
                  %th
              %tbody#items-table= render items
          .card-footer
            = paginate items