%section.content-header
%section.content
  .container-fluid
    .row
      .col-12
        .card
          .card-header
            %h3.card-title Types d'absences
            .card-tools
              = link_to new_absence_type_path, remote: true, class: 'btn btn-sm btn-secondary' do
                Nouveau type d'absence
          .card-body
            %table.table.table-bordered.table-hover.text-center
              %thead
                %tr
                  %th #
                  %th Nom
                  %th Couleur
                  %th Congés déduits
                  %th Affiché dans les graphiques
                  %th Affiché dans les sélecteurs
                  %th
              %tbody#items-table= render items