/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require admin-lte/dist/css/adminlte
 *= require bootstrap-colorpicker/dist/css/bootstrap-colorpicker
 */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");

.color-display {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.absences-table {
  margin: 0 auto;
  thead th:first-child {
    min-width: 10vw;
  }

  thead th:not(:first-child) {
    min-width: 2.2vw;
  }

  tbody tr {
    min-height: 2.2vw;

    .sunday {
      background-color: #999999;
    }
  }
}