/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require admin-lte/dist/css/adminlte
 *= require bootstrap-colorpicker/dist/css/bootstrap-colorpicker
 *= require bootstrap-daterangepicker/daterangepicker
 *= require bootstrap-datepicker/dist/css/bootstrap-datepicker
 */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");

.color-display {
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 1px solid #EFEFEF;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  text-align: center;

  &.xl {
    width: 32px;
    height: 32px;
    line-height: 28px;
  }
}

.color-name {
  display: inline-block;
}

.fit-text {
  width: 100%;
}

.absences-table {
  margin: 1vh auto;
  table-layout: fixed;

  thead th.agent-name {
    width: 100%;
    a {
      width: 100%;
      overflow: hidden;
    }
  }

  thead th {
    width: 2.2vw;
  }

  tbody {
    tr {
      height: 2.2vw;
      border: 1px solid white;

      td {
        border: 1px solid white;
      }

      .day {
        cursor: pointer;
        position: relative;
        opacity: 0.8;
        background: #DADADA;

        .day-background {
          width: 2vw;
          height: 2vw;
          position: sticky;
          opacity: 0;
          background: repeating-linear-gradient(
                          -55deg,
                          #222,
                          #222 10px,
                          #333 10px,
                          #333 20px
          );
        }

        .day-number {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: white;
          text-shadow: 1px 1px rgba(0,0,0,0.5);
          line-height: 2.2vw;
        }

        &.active {
          opacity: 0.6;
          .day-background {
            opacity: 0.4;
          }
        }

        &.disabled {
          cursor: initial;
        }
      }

      .sunday {
        background-color: #999999;
      }

      .saturday {
        background-color: #c8c8c8;
      }
    }
  }
}

.event-picker {
  position: fixed !important;
  width: 20vw;
  right: 1vw;
  margin-bottom: 0 !important;
  bottom: 0;

  .card-title {
    line-height: 31px;
  }

  .card-body {
    padding: 0 !important;

    .event-picker-body {
      margin: 1rem;
    }
    
    .event-container {
      cursor: pointer;
      .event-name {
        display: inline-block;
      }
    }
  }
}

.refresh {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 219, 219, 0.8);
  z-index: 100;
  display: flex;
  align-items: center;

  span {
    width: 100%;
    text-align: center;
  }

  .icon {
    position: absolute;
    top: calc(50% + 1rem);
    left: calc(50% - 2rem);
    font-size: 4rem;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }
}

.fa-spin-hover {
  &:hover {
    animation: fa-spin 2s infinite linear;
  }
}

.toasts-top-right {
  z-index: 100000 !important;
}