%aside.main-sidebar.sidebar-dark-primary.elevation-4
  = link_to root_path, class: 'brand-link text-center' do
    %span.brand-text.font-weight-light
      %b PM
      Lille
  .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 652px;"}
    .sidebar{:style => "min-height: 652px; overflow: hidden; width: auto; height: 652px;"}
      .user-panel.mt-3.pb-3.mb-3.d-flex
        .info
          %a.d-block
            Bonjour
            %b= current_user.complete_name
      %nav.mt-2
        %ul.nav.nav-sidebar.flex-column
          %li.nav-item
            = link_to agents_path, class: 'nav-link' do
              %i.far.fa-user.nav-icon
              %p Agents